<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Posts</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <h1>Instagram - Posts</h1>

    <div class="mainPost-container">
        <% for (post of posts) { %>
            <div class="mainPost-item">
                <div class="user-content">
                    <h2>@<%= post.username %></h2>
                    <h4><%= post.content %></h4>
                </div>
                <div class="btn-container">
                    <a href="/posts/<%= post.id %>" class="btns"><i class="fa-solid fa-eye fa-xl"></i></a>
                    <a href="/posts/<%= post.id %>/edit" class="btns"><i class="fa-solid fa-pen-to-square fa-xl"></i></a>
                    <form action="/posts/<%= post.id %>?_method=DELETE" method="post" class="main-form">
                        <button class="btns"><i class="fa-solid fa-trash fa-xl"></i></button>
                    </form>
                </div>
            </div>
        <% } %>
    </div>

    <div class="newBtn-Container">
        <a href="/posts/new" class="newBtn"><i class="fa-regular fa-square-plus fa-xl"></i></a>
    </div>

</body>

</html>
